@font-face {
  font-family: 'brandico';
  src: url('brandico.eot?49362932');
  src: url('brandico.eot?49362932#iefix') format('embedded-opentype'),
       url('brandico.woff?49362932') format('woff'),
       url('brandico.ttf?49362932') format('truetype'),
       url('brandico.svg?49362932#brandico') format('svg');
  font-weight: normal;
  font-style: normal;
}


.soc-icon {
    font-family: 'brandico';
    font-style: normal;
}

/*icons from fontello (brandico font)  */

.icon-facebook:before, .icon-facebook-app:before { content: '\f300'; color: #3B5998;} /* '' */
.icon-facebook-rect:before { content: '\f301'; color: #3B5998;} /* '' */
.icon-twitter:before { content: '\f302'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-vimeo:before { content: '\f30f'; } /* '' */
.icon-vimeo-rect:before { content: '\f30e'; } /* '' */
.icon-tumblr:before { content: '\f311'; } /* '' */
.icon-tumblr-rect:before { content: '\f310'; } /* '' */
.icon-googleplus-rect:before, .icon-google:before { content: '\f309'; color: #DD4B39;} /* '' */
.icon-github-text:before { content: '\f307'; } /* '' */
.icon-github:before { content: '\f308'; } /* '' */
.icon-skype:before { content: '\f30b'; } /* '' */
.icon-icq:before { content: '\f304'; } /* '' */
.icon-yandex:before, .icon-yandex-openid:before { content: '\f305'; color: #FF000A;} /* '' */
.icon-yandex-rect:before { content: '\f306'; color: #FF000A;} /* '' */
.icon-vkontakte-rect:before, .icon-vk-oauth2:before { content: '\f30a'; color: #6588AD;} /* '' */
.icon-odnoklassniki:before { content: '\f30c'; } /* '' */
.icon-odnoklassniki-rect:before { content: '\f30d'; } /* '' */
.icon-friendfeed:before { content: '\f312'; } /* '' */
.icon-friendfeed-rect:before { content: '\f313'; } /* '' */
.icon-blogger:before { content: '\f314'; } /* '' */
.icon-blogger-rect:before { content: '\f315'; } /* '' */
.icon-deviantart:before { content: '\f316'; } /* '' */
.icon-jabber:before { content: '\f317'; } /* '' */
.icon-lastfm:before { content: '\f318'; } /* '' */
.icon-lastfm-rect:before { content: '\f319'; } /* '' */
.icon-linkedin:before { content: '\f31a'; } /* '' */
.icon-linkedin-rect:before { content: '\f31b'; } /* '' */
.icon-picasa:before { content: '\f31c'; } /* '' */
.icon-wordpress:before { content: '\f31d'; } /* '' */
.icon-instagram:before { content: '\f31e'; } /* '' */
.icon-instagram-filled:before { content: '\f31f'; } /* '' */
.icon-diigo:before { content: '\f320'; } /* '' */
.icon-box:before { content: '\f321'; } /* '' */
.icon-box-rect:before { content: '\f322'; } /* '' */
.icon-tudou:before { content: '\f323'; } /* '' */
.icon-youku:before { content: '\f324'; } /* '' */
.icon-win8:before { content: '\f325'; } /* '' */
.icon-blogtalkradio:before { content: '\f326'; } /* '' */

