{% load i18n %}
{% if user.is_authenticated %}
    {% if links %}
        <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" title="{{ user.username }}">
             <span class="glyphicon glyphicon-user"></span><span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="{% url 'logout' %}">{% trans "Logout" %}</a></li>
            <li><a href="{% url 'assocs_list' %}">{% trans "Manage associations" %}</a></li>
        </ul>
    {% endif %}
{% else %}
    {% if links %}
        <a href="" data-toggle="modal" data-target="#login-box-modal">{% trans "Login" %}</a>
    {% endif %}
    {% if modal %}
        <div class="modal fade" id="login-box-modal" tabindex="-1" role="dialog" aria-labelledby="authBoxModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="authBoxModalLabel">{% trans "Choose your login method" %}</h4>
                    </div>
                    <div class="modal-body">
                        <ul>
                            {% for name in backends.not_associated %}
                                <li>
                                    <a href="{% url 'social:begin' name %}"><i
                                            class="soc-icon icon-{{ name }}"></i> {{ name|title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div><!-- /.modal -->
    {% endif %}
{% endif %}
