{% extends 'base.html' %}
    {% block head_scripts %}
        {{ block.super }}
    {% endblock %}

    {% block content %}{% endblock %}
    {% block scripts %}
        {{ block.super }}
            <form method="post" action="" id="disconnect-form">{% csrf_token %}</form>


    <script type="text/javascript">
      $(function () {
          $(document).on('click', 'a.disconnect', function (e) {
              e.preventDefault();
              $('form#disconnect-form')
                  .attr('action', $(this).attr('href'))
                  .submit();
          });
      });
    </script>
    {% endblock %}

