{% extends "unisocauth/base.html" %}
{% load i18n %}
{% load url from future %}

{% block content %}
    <h1>{% trans "Choose your login method" %}</h1>
    <div class="row">
    <div class="col-md-5 col-md-offset-3">
<ul class="list-unstyled">
  {% for name in backends.not_associated %}
      {% if name not in 'openid, livejournal, persona' %}
    <li>
      <a href="{% url 'social:begin' name %}"><i class="soc-icon icon-{{ name }}"></i> {{ name|title }}</a>
    </li>
      {% endif %}
  {% endfor %}
</ul>
    </div>
<!--
<form action="{% url 'social:begin' "openid" %}" method="post">{% csrf_token %}
  <div>
    <label for="openid_identifier">OpenId provider</label>
    <input id="openid_identifier" type="text" value="" name="openid_identifier" />
    <input type="submit" value="Login" />
  </div>
</form>

<form action="{% url 'social:begin' "livejournal" %}" method="post">{% csrf_token %}
  <div>
    <label for="openid_lj_identifier">LiveJournal ID</label>
    <input id="openid_lj_identifier" type="text" value="" name="openid_lj_user" />
    <input type="submit" value="Login" />
  </div>
</form>

<form method="post" action="{% url 'social:complete' "persona" %}">{% csrf_token %}
  <input type="hidden" name="assertion" value="" />
  <a rel="nofollow" id="persona" href="#">Persona</a>
</form>

{% if plus_id %}
<form id="google-plus" method="post" action="{% url 'social:complete' "google-plus" %}">{% csrf_token %}
  <input id="at" type="hidden" name="access_token" value="" />
  <input id="code" type="hidden" name="code" value="" />

  <div id="signinButton">
    <span class="g-signin" data-scope="{{ plus_scope }}"
                           data-clientid="{{ plus_id }}"
                           data-redirecturi="postmessage"
                           data-accesstype="offline"
                           data-cookiepolicy="single_host_origin"
                           data-callback="signInCallback">
    </span>
  </div>
</form>
{% endif %}
-->
    </div>
{% endblock %}

{% block head_scripts %}
<script src="https://login.persona.org/include.js" type="text/javascript"></script>

<!-- Mozilla Persona -->
<script type="text/javascript">
  $(function () {
      $('#persona').on('click', function (e) {
          e.preventDefault();
          var self = $(this);

          navigator.id.get(function (assertion) {
              if (assertion) {
                  self.parent('form')
                          .find('input[type=hidden]')
                          .attr('value', assertion)
                          .end()
                      .submit();
              } else {
                  alert('Some error occurred');
              }
          });
      });
  });
</script>

<!-- Google+ Sign In -->
<script type="text/javascript">
  (function () {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true; po.src = 'https://plus.google.com/js/client:plusone.js?onload=start';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(po, s);
  })();
</script>

<script type="text/javascript">
  var signInCallback = function (result) {
      if (result['error']) {
        alert('An error happened:', result['error']);
      } else {
        $('#code').attr('value', result['code']);
        $('#at').attr('value', result['access_token']);
        $('#google-plus').submit();
      }
  };
</script>
{% endblock %}
